@font-face{
    font-family: myFont;
    src: url('f.otf');
 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
}
html{
    scroll-behavior: smooth;
}


.navMain {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 4vw 0 0;
}

.menu-btn {
    position: fixed;
    margin: 1em;
    font-size: 24px;
}




.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #111;
    transition: 0.2e;
    display: flex;
    visibility: hidden;
    opacity: 0;
    
}
.navigation.active{
    visibility: visible;
    opacity: 1; 
}
.navigation .navArea{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation .navArea ul li
 {
    list-style: none;
}
.navigation .navArea ul li::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #f00;  
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}
.navigation .navArea ul li:nth-child(1)::before
{
    background: #905c49;
}
.navigation .navArea ul li:nth-child(2)::before
{
    background: #FAFE6B;
}
.navigation .navArea ul li:nth-child(3)::before
{
    background: #5FB2E6;
}
.navigation .navArea ul li:nth-child(4)::before
{
    background: #F84D96;
}
.navigation .navArea ul li:nth-child(5)::before
{
    background: #FF6969;
}
.navigation .navArea ul li:nth-child(6)::before
{
    background: #71F8F9;
}

.navigation .navArea ul li:hover::before
{
    opacity: 1;  
}
.navigation .navArea ul li a {
    font-size: 3em;
    font-weight: 600;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);

}
.navigation .navArea ul li:hover a{
    color: rgba(255, 255, 255, 1);
}
.imgArea{
    position: relative;
    width: 50%;
    height: 100vh;
    background: #000;

}
.imgArea img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menuToggle {
    position: absolute;
    top: -9px;
    left: 14px;
    width: 40px;
    height: 30px;
    background:  url(menu1.png);
    z-index: 1000;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.menuToggle.active
{
    background: #000 url(c.png);
    z-index: 1000;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
}


@media(max-width:768px){
.navigation .navArea
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.navigation .navArea ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navigation .navArea ul li
{
    color: #fff;
    margin: 5px 10px;
    padding: 5px 10px;
}
.navigation .navArea ul li:hover
{
    background: #EFE864
}
.navigation .navArea ul li a{
    color: #000;
    font-size: 2em;
    letter-spacing: 2px;
}
.imgArea
{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #f00;
    align-items: center;
}
.navigation .navArea ul li:hover::before
{
    opacity: 0;
}
.imgArea{
    position: absolute;
    width: 100%;
    height: 100hv;
    background: #f00;
    opacity: 0.7;
}
}
    
    .navMain{min-height:100vh;display:flex;align-items:center;padding:4vw 0 0}@media (max-width:47.99em){.navMain .h5{font-size:calc(2.5vw + 16px)}}.navMain .h1,.navMain .h2,.navMain .h3,.navMain .h4,.navMain .h5,.navMain .h6,.navMain .heading,.navMain h1,.navMain h2,.navMain h3,.navMain h4,.navMain h5,.navMain h6{line-height:1.1!important}.navMain h4.u-medium{font-size:calc(1.07143vw + 24.57143px)}.navMain .navMain-container{width:100%;display:flex;justify-content:space-between;margin:calc(1.78571vw + 34.28571px) 0}.navMain ul{list-style-type:none}.navMain p{max-width:400px}@media (max-width:120.0525em){.navMain p{max-width:300px}}@media (max-width:100em){.navMain p{max-width:280px}}@media (max-width:84.99em){.navMain p{max-width:220px}}@media (max-width:61.9275em){.navMain p{max-width:200px}}@media (max-width:29.99em){.navMain p{max-width:200px}}@media (max-width:47.99em){.navMain{align-items:flex-start;padding-top:80px;height:auto}.navMain .navMain-container{flex-wrap:wrap}.navMain .navMain-col{flex:0 0 50%;width:50%;margin-bottom:80px}}@media (max-width:85em){.navMain-col{transform:scale(.9)}.navMain-col p{font-size:18px}}@media (max-width:61.9275em){.navMain-col{transform:none}.navMain-col p{font-size:14px}}@media (max-width:29.99em){.navMain-col{flex:0 0 40%!important;width:40%!important}}@media (max-width:22.5em){.navMain-col{flex:0 0 100%!important;width:100%!important;margin-bottom:40px!important}}
  
.menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #121212;
    opacity: 0;
}

.close-menu {
    position: fixed;
    margin: 1em;
    font-size: 24px;
    color: #fff;
    z-index: 1;
}

.nav {
    position: absolute;
    left: 21%;
    margin-top: 8%;
}

.nav ul {
    list-style: none;
}

.main-menu-item {
    padding-top: 30px;
}

.main-menu-item a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.submenu-item a {
    color: grey;
}

.submenu li {
    margin: 20px 0;
}

a ion-icon {
    position: relative;
    font-size: 9px;
    opacity: 0.4;
}

.submenu {
    display: none;
}

.contact {
    color: #fff;
    position: absolute;
    bottom: 70px;
    right: 24%;
}

.contact p {
    font-weight: lighter;
    color: grey;
    font-family: "Helvetica";
}

.media {
    position: absolute;
    bottom: 70px;
    left: 22%;
}

.media ul {
    list-style: none;
}

.media ul li {
    display: inline-block;
    color: grey;
    font-weight: lighter;
    padding-right: 16px;
}

@media(max-width: 768px) {
  

    .nav {
          margin-top: 20%;
    }

    .contact {
          display: none;
    }
}
.theims{
    /* margin-top: 145px; */
    /* margin-left: 49px; */
    background: #fff;
    width: 100%;
    display: block;
    justify-content: space-around;
    align-items: center; 
    /* padding: 40px 100px; */

    /* padding: 23px 0px; */
    z-index: 1000;
    transition: 0.6s;
}
.imgOne{
    margin-top: 100px;
}

/* 
*/


.container5 {
    position: relative;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
  }
  
  .text-block {
    position: absolute;
    bottom: 14px;
    right: 50px;
    background-color: #f7b200;
    color: white;
    /* padding-left: 86px;
    padding-right: 22px; */
    padding: 8px;
    left: 0px;
    width: 91%;
    text-align: center;
    margin-left: 18px;
  }

/* 
 */
.htext3{
    margin-top: 100px;
}
.theims ul{
    position: relative;
    display: -webkit-inline-box;
    justify-content: unset;
    align-items: center;
}
.theims ul li{
    
    position: relative;
    list-style: none;
}
.theims ul li img{
    width: 370px;
}
.imgTwo{
    margin-bottom: 110px;
    margin-top: -27px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    /* padding: 40px 100px; */

    padding: 23px 0px;
    z-index: 1000;
    transition: 0.6s;
}
header.sticky
{
padding: 5px 0px;
background: #000;

}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;

}
header .logo img{
      /* position: relative; */
    /* width: 81px; */
    height: 30px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    /* margin-left: 560px; */
    right: 0px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
     list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;

}
header.sticky .logo,
header.sticky ul li a
{
    color: #fff;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* background: url(1.png); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2{
    color: #000;
    font-size: 54px;
    text-transform: uppercase;
    text-align: end;
    line-height: 2em;
    /* margin-right: 40px;
    margin-top: 206px; */
}
.banner h3{
    margin-top: 180px;
    text-align: end;
    margin-right: 88px;
}

.banner h2 span{
    color: #7338a4;
}
.sec
{
    background: #fff;
    color: #000;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sec .content
{
    position: relative;
    text-align: center;
    width: 100%;
    /* color: #fff;
    background: #000; */
}
 .lo
{
    position: relative;
    text-align: center;
    width: 100%;
    color: #fff;
    background: #000;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .logos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 40px 100px; */
    padding: 23px 0px;
    z-index: 1000;
    transition: 0.6s;
  }
.mxw800p{
    max-width: 800px;
    margin: 0 auto;
}
h3{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

.sec .content .mxw800p ul{
    position: relative;
    display: flex;
    justify-content: unset;
    align-items: center;
}
.sec .content .mxw800p ul li{
    position: relative;
    list-style: none;
}
p{
    position: relative;
    font-size: 18px;
   font-weight: 300;
   margin-bottom: 20px;
   letter-spacing: 1px; 
}
.btn
{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    text-decoration: none;
    color: #7338a4;
}
.services
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;

}
.servicess
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;

}
.services .box
{
    width: 300px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    /* box-shadow: 0 15px 30px rgb(0 0 0 / 5%);*/

}
.services .box .iconBx
{
    margin-top: 25px;
}
.services .box .iconBx img
{
    max-width: 70px;
    margin-bottom: 15px;
}
.services .box h2
{
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.stats
{
    background: #fff;
    padding-top: 250px;
    margin-top: -250px;
}
.stats h3,
.stats p{
    color: #000; 
}
.statsBox{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(205px,1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}
.statsBox h2{
    color: #000;
    font-size: 36px;

}
.statsBox h4{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.workBx
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.workBx .brand
{
position: relative;
background: #1F1A57;
min-height: 300px;
width: 250px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.workBx .brand:hover
{
    background: #fff;
}
.workBx .brand a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;

}
.workBx .brand:hover a {
    color: #8F8888;
}
.teamBxx{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 2px;
    max-width: 100%;
    margin-top: 36px;
    margin-bottom: 116px;
}
.teamBx{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 2px;
    max-width: 100%;
    margin-top: 36px;
    margin-bottom: 116px;
}
.teamBx .member{
    position: relative;
    background: #fff;
    min-height: 200px;
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teamBxx .member{
    position: relative;
    background: #fff;
    min-height: 200px;
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teamBx .member .imgBx{
  position: absolute;
  top:  0;
  left: 0;
  width: 100%;
  height: 100%;

}
.teamBx .member .imgBx img{
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.teamBxx .memberr .imgBxx img{
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.teamBx .member .details
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
opacity: 0;
}
.teamBx .member .details:hover{
    opacity: 1;  
}
.teamBx .member .details h2
{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}
.teamBx .member .details h2 span
{
    display: block;
    font-size: 12px;
    font-weight: 300;
}


/* 

*/


.teamBxx .memberr .detailss:hover{
    opacity: 1;  
}
.teamBxx .memberr .detailss h2
{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}
.teamBxx .memberr .detailss h2 span
{
    display: block;
    font-size: 12px;
    font-weight: 300;
}

.sci{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    
}
.sci ul{
    display: flex;
}
.sci ul li {
    list-style: none;
}
.sci ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}
.sci ul li a img{
    filter: invert(0);
    max-width: 40px;

}
.sci ul li a:hover img{
    opacity: 0.5;
}
.copyright a{
    color: #000;
    text-decoration: none;
}
.toggle{
    display: none;
}


@media (max-width:992px){
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle::before{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 10px 0 #fff;
        transition: 0.5s;
    }
    .toggle::after{
        content: '';
        position: absolute;
        bottom:  4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
   
        transition: 0.5s;
    }


/* header,
header.sticky{
    padding: 5px 1px;
    background: #000;
} 
header ul{
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background: #000;
    visibility: hidden;
    opacity: 0;
}
header.active ul{
    visibility: visible;
    opacity: 1;
    display: block;
}
header.active ul li a{
     display: inline-block;
     margin: 10px 0;
     font-size: 20px;
      padding-top: 20px;
    }
header .logo,
header ul li a {
    color: #fff;
  
}  */
.banner{
   background-position: center; 
}
.banner h2{
    font-size: 60px;
    padding: 0 50px;
}
.sec{

    padding: 101px 3px 3px 18px;
}
.stats{
    padding-top: 250px;

}
.row100{
    flex-direction: column;
}
.sci{
    margin: 20px;
}
.sci ul li a img{
    font-size: 24px;
}
.text-block{
    visibility: hidden;
}
.redImage ul li {
    visibility: hidden;
    opacity: 0;  
}
.imgTwo {
    opacity: 0;  
}

}